/* globales */
.container{
    width: 100%;
}
.row{
    align-items: center;
    margin-top: 1rem;
}
/* estilos de boton login */
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.boto{
    margin-right: 2rem;
}

/* logo argentina programa */
.logo{
    display: grid;
    grid-auto-flow: column;
}
.logo img{
    width: 6rem;
    background: linear-gradient(252.34deg,rgba(203, 161, 254, 0.856) 21.45%, rgba(141, 203, 253, 0.779) 80.88%);
    border-radius: 0.5rem;
    padding: 0.2rem;
    box-shadow: 0 0.5rem 2rem rgba(248, 231, 255, 0.799);
}
.logo img:hover{
    box-shadow: 0 0.5rem 1.2rem rgba(245, 131, 255, 0.821);
}

/* iconos redes sociales */
.redes{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}
.redes img{
    width: 2rem;
    height: 2rem;
}