<div class="container">
    <section id="sobre">
        <div class="row">
            <!-- titulo de seccion -->
            <hr class="divider">
            <h2>sobre mi</h2>
        </div>
        <!-- foto y descripcion del titulo del curso -->
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 caja foto">
                <img {{persona.image}}>
                <h3>{{persona.name}} {{persona.surname}}</h3>
                <p>Full Stack Web Developer Jr.</p>                
            </div>
            <!-- texto descriptivo sobre la seccion sobre mi -->
            <div class="col-lg-6 col-md-12 col-sm-12 texto">

                <p> Hola!! Soy Soledad, estudiante en primer año en la carrera de Analista en Computación también soy
                    participante de la segunda etapa de la capacitación nacional Argentina Programa.<br>
                    En el ámbito laboral me desenvolví como vendedora en el sector retail con más de 5 años de
                    experiencia en atención al público y 3 años como encargada de la gestión y coordinación de grupos de
                    trabajo.<br>
                    Me considero una persona dinámica y adaptable a los diferentes entornos que se me presenten, con una
                    excelente predisposición al trabajo en equipo y a la resolución rápida de problemas complejos sin
                    perder la perspectiva laboral y las relaciones profesionales.</p>
            </div>
        </div>
        <!-- circulo de fondo -->
        <div class="shape-3"></div>
        <div class="shape-4"></div>
    </section>
</div>