<div class="container cont__about">
    <section id="sobre">
        <div class="row">
            <h2 class="sobremi">SOBRE MI</h2>
        </div>

        <div class="row cont__text">
            <div class="col-lg-6 foto">
                <img class="fotoperfil" src="../../../assets/perfil-sol-circu2-violeta.png">
            </div>

            <div class="col-lg-6 texto">
                <p> Hola! Soy Soledad, estudiante en primer año en la carrera de Analista en Computación también soy
                    participante de la segunda etapa de la capacitación nacional Argentina Programa.<br>
                    En el ámbito laboral me desenvolví como vendedora en el sector retail con más de 5 años de
                    experiencia en atención al público y 3 años como encargada de la gestión y coordinación de grupos de
                    trabajo.<br>
                    Me considero una persona dinámica y adaptable a los diferentes entornos que se me presenten, con una
                    excelente predisposición al trabajo en equipo y a la resolución rápida de problemas complejos sin
                    perder la perspectiva laboral y las relaciones profesionales.</p>
            </div>
        </div>
    </section>
</div>