.conteiner {
    display: grid;
    width: 100%;
    /* padding: 4rem; */
}

.row{
    display: grid;
}

#sobre{
    padding: 4rem , 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    font-weight: 500;
}

.cont__about{
    margin-top: 15rem;
    margin-bottom: 7rem;
}

.cont__sobremi{
    padding-bottom: 5rem;
}

h2{
    font-size: 3rem;
    text-shadow: 0rem 1rem 5px rgba(96, 96, 96, 0.923);    
}

.cont__text{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-end;
}

.foto img {
    grid-row: 1;
    width: 20rem;
    border-radius: 50%;
}

.texto p{
    color: black;
}