/* globales */
img{
    width: 50%;
    margin: 0 auto;
}
/* contetnedor principal */
.container{
    display: grid;
    height: 20rem;
    align-items: center;
    height: 30rem;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
}

/* .row{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
} */
/* ilustracion */
.banner{
    display: grid;
    grid-column: 1/2;
    margin-top: 4rem;
}
/* circulos de fondo */
.shape-1{
    height: 220px;
    width: 220px;
    background: linear-gradient(
        #ff4391,
        #ff9fc7
    );
    border-radius: 50%;
    position: absolute;
    bottom: -4rem;
    left: -2rem;
    z-index: -1;
}
.shape-2{
    height: 180px;
    width: 180px;
    background: linear-gradient(
        #8be6ff,
        #00d0ff
    );
    border-radius: 50%;
    position: absolute;
    top: -4rem;
    right: 1rem;
    z-index: -1;
}