/* globales */
header{
    position: relative; 
}
img{
    width: 50%;
    margin: 0 auto;
}
/* contetnedor principal */
.container{
    display: grid;
    height: 30rem;
    align-items: center;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 2rem;   
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.256);
}
/* ilustracion */
.banner{
    display: grid;
    grid-column: 1/2;
    margin-top: 4rem;
}
/* circulos de fondo */
.shape-1{
    height: 260px;
    width: 260px;
    background: linear-gradient(
        #ff86b8,
        #ff006a
    );
    border-radius: 50%;
    position: absolute;
    bottom: -5rem;
    left: -5rem;
    z-index: -1;
}
.shape-2{
    height: 180px;
    width: 180px;
    background: linear-gradient(
        #60f0fd,
        #00bae4
    );
    border-radius: 50%;
    position: absolute;
    top: -4rem;
    right: -4rem;
    z-index: -1;
}