header{
    display: flex;
    /* width: 80%; */
    height: 32rem;
    margin: 4.5rem auto;
    background-color: white;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 2rem;
    align-items:flex-start;
    position: relative;
}

div{
    /* display: grid;
    grid-template-columns: 63% 20% 20%; */
    width: 100%;
    margin: 0 auto;
}

img{
    width: 40%;margin: 0 auto;
}

.row{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}

.container{
    display: grid;
    height: 20rem;
    grid-template-columns: 50%, 25%, 25%;
    align-items: center;
    justify-content: space-between;
}

.row{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.botones{
    display: flex;
    justify-content: flex-end;
}

.banner{
    display: grid;
    grid-column: 1/2;
margin-top: 4rem;
}

.shape-1{
    height: 220px;
    width: 220px;
    background: linear-gradient(
        #ff4391,
        #ff9fc7
    );
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -150px;
    z-index: -1;
}
.shape-2{
    height: 180px;
    width: 180px;
    background: linear-gradient(
        #73c8f9,
        #6ba4ff
    );
    border-radius: 50%;
    position: absolute;
    top: -80px;
    right: -100px;
    z-index: -1;
}