<section class="contenedor">
        <div class="wrapper">
        <div class="container">
            <h2>HARD SKILLS</h2>
            <div class="skills">
                <div class="details">
                    <span>HTML</span>
                    <span>70%</span>
                </div>
                <div class="bar">
                    <div id="html-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>CSS</span>
                    <span>55%</span>
                </div>
                <div class="bar">
                    <div id="css-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Javascript</span>
                    <span>32%</span>
                </div>
                <div class="bar">
                    <div id="js-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>jQuery</span>
                    <span>38%</span>
                </div>
                <div class="bar">
                    <div id="jQuery-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Angular</span>
                    <span>48%</span>
                </div>
                <div class="bar">
                    <div id="angular-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>PHP</span>
                    <span>38%</span>
                </div>
                <div class="bar">
                    <div id="php-bar"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- barras para las soft skills -->

    <div class="wrapper skills">
        <div class="container">
            <h2>SOFT SKILLS</h2>
            <div class="skills">
                <div class="details">
                    <span>Trabajo en equipo</span>
                    <span>98%</span>
                </div>
                <div class="bar-2">
                    <div id="habil-1"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Autodeprecion</span>
                    <span>75%</span>
                </div>
                <div class="bar-2">
                    <div id="habil-2"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Tendencias suicidas</span>
                    <span>100%</span>
                </div>
                <div class="bar-2">
                    <div id="habil-3"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Criar palomas</span>
                    <span>98%</span>
                </div>
                <div class="bar-2">
                    <div id="habil-4"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Inlges</span>
                    <span>40%</span>
                </div>
                <div class="bar-2">
                    <div id="habil-5"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Dislexia</span>
                    <span>90%</span>
                </div>
                <div class="bar-2">
                    <div id="habil-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>
