<section class="contenedor">
        <div class="wrapper">
        <div class="container">
            <h2>HARD SKILLS</h2>
            <div class="skills">
                <div class="details">
                    <span>HTML</span>
                    <span>90%</span>
                </div>
                <div class="bar">
                    <div id="html-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>CSS</span>
                    <span>75%</span>
                </div>
                <div class="bar">
                    <div id="css-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Javascript</span>
                    <span>82%</span>
                </div>
                <div class="bar">
                    <div id="js-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>jQuery</span>
                    <span>68%</span>
                </div>
                <div class="bar">
                    <div id="jQuery-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Angular</span>
                    <span>90%</span>
                </div>
                <div class="bar">
                    <div id="angular-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>PHP</span>
                    <span>90%</span>
                </div>
                <div class="bar">
                    <div id="php-bar"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- barras para las soft skills -->

    <div class="wrapper skills">
        <div class="container">
            <h2>SOFT SKILLS</h2>
            <div class="skills">
                <div class="details">
                    <span>HTML</span>
                    <span>90%</span>
                </div>
                <div class="bar-2">
                    <div id="html-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>CSS</span>
                    <span>75%</span>
                </div>
                <div class="bar-2">
                    <div id="css-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Javascript</span>
                    <span>82%</span>
                </div>
                <div class="bar-2">
                    <div id="js-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>jQuery</span>
                    <span>68%</span>
                </div>
                <div class="bar-2">
                    <div id="jQuery-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Angular</span>
                    <span>90%</span>
                </div>
                <div class="bar-2">
                    <div id="angular-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>PHP</span>
                    <span>90%</span>
                </div>
                <div class="bar-2">
                    <div id="php-bar"></div>
                </div>
            </div>
        </div>
    </div>
</section>
