/* globales */
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0rem 1rem 8px rgba(96, 96, 96, 0.923);
}

h3 {
    text-transform: uppercase;
    margin: 1rem;
}

h4 {
    margin: 1rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    gap: 1.5rem;
}

li {
    list-style: none;
}

p {
    text-align: center;
    color: black;
}
/* contenedor principal */
.container {
    margin-top: 15rem;
    margin-bottom: 4rem;
    font-weight: 500;
    position: relative;
}

.cont__title {
    padding-bottom: 4rem;
}

.cont__text {
    align-items: center;
}

#education {
    padding: 2rem, 0;
    align-items: center;
}

.texto {
    margin-bottom: 2rem;
}

.row {
    margin-top: 4rem;
    margin-bottom: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* decoracion de cajas de texto*/
.caja{
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(255,255,255,0.06);
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px)
}
/* circulos de fondo  */
.shape-3 {
    height: 280px;
    width: 280px;
    background: linear-gradient(
        #e46bff,
        #a231ff);
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    left: 7rem;
    z-index: -1;
}

.shape-1 {
    height: 220px;
    width: 220px;
    background: linear-gradient(#fb5ef0,
            #ffaff2);
    border-radius: 50%;
    position: absolute;
    bottom: 1rem;
    right: -6rem;
    z-index: -1;
}