<div class="container cont__education">
    <section id="education">
        <div class="row">
            <h2 class="cont__title">educacion</h2>
        </div>

        <div class="row cont__text">
            <div class="col-lg-12 col-md-12 texto">
                <ul>
                    <li>
                        <h3>educacion 1</h3>
                        <h4>año-año</h4>
                        <p>Full Stack Web Developer Jr.<br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum obcaecati omnis asperiores nostrum eveniet voluptatum delectus dolorem mollitia magnam expedita sequi eligendi excepturi veritatis odit, hic sapiente quos! Corrupti, commodi.</p>
                    </li>
                    <li>
                        <h3>teducacion 2</h3>
                        <h4>año-año</h4>
                        <p>ventas retail<br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, unde ab repellendus voluptas optio in quae odit atque maiores blanditiis, rem porro magnam pariatur distinctio, voluptates at? Impedit, enim eaque.</p>
                    </li>
                    <li>
                        <h3>educacion 3</h3>
                        <h4>año-año</h4>
                        <p>otro trabajo<br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia nulla sint fugit ullam debitis consequuntur id neque sequi reprehenderit numquam! Vero ab rerum reiciendis sequi soluta rem, nobis consectetur distinctio!</p>
                    </li>
                </ul>                
            </div>
        </div>
    </section>
</div>
