<div id="education" class="container cont__education">
        <div class="row">
            <!-- titulo de seccion -->
            <hr class="divider">
            <h2 class="cont__title">educacion</h2>
        </div>
        <!-- seccion de cajas  -->
        <div class="cont__text">
            <div>
                <ul>
                    <li class="caja">
                        <h3 class="color-t">Colegio Nuestra Señora del Huerto</h3>
                        <img src="../../../assets/logo-jujuy.png" alt="">
                        <h4 class="color-t">1997-2010</h4>
                        <p>Polimodal orientado a Ciencias Naturales</p>
                    </li>
                    <li class="caja">
                        <h3 class="color-t">Universidad Nacional de Rio Cuarto</h3>
                        <img src="../../../assets/l-unrc.png" alt="">
                        <h4 class="color-t">2021-actualidad</h4>
                        <p>Lc. en Analista en Computacion</p>
                    </li>
                    <li class="caja">
                        <h3 class="color-t">Argentina Programa</h3>
                        <img src="../../../assets/banner-argentina-programa.jpg" alt="">
                        <h4 class="color-t">2021-2022</h4>
                        <p>Agrega descripcion del titulo educativo</p>
                    </li>
                </ul>
            </div>
        </div>
    <!-- circulos de fondo -->
    <div class="shape-3"></div>
    <div class="shape-1"></div>
</div>