<div id="proyect" class="container">
        <!-- circulo de fondo -->
        <div class="shape-3"></div>
    <!-- titulo de seccion -->
    <div class="row">
        <hr class="divider">
        <h2>proyectos</h2>
    </div>
    <!-- imagenes de los proyectos -->
    <div class="d-flex flex-row mb-2 tarjetas">
        <!-- caja con descripcion de proyectos -->
        <div class="p-2 caja">
            <img src="../../../assets/conejo-lector.jpg" alt="conejo">
            <h5 class="color-t">titulo</h5>
            <p>Descripcion del proyecto!</p>
        </div>
        <div class="p-2 caja">
            <img src="../../../assets/proyecto-veterinaria.png" alt="desafio">
            <h5 class="color-t">titulo</h5>
            <p>Descripcion del proyecto!</p>
        </div>
    </div>
</div>