<div class="container">
    <div class="row">
        <h2>proyectos</h2>
        <div class="col-lg-6 col-md-3 col-sm-12">
            <img src="../../../assets/conejo-lector.jpg" alt="conejo">
        </div>
        <div class="col-lg-6 col-md-9 col-sm-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolorem consequatur suscipit, eius, distinctio culpa, dicta quam ad animi facilis aliquid odio dolores? Beatae corporis voluptates quaerat ducimus quis ut!</p>
        </div>
    </div>
</div>