.container {
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    font-weight: 500;text-align: center;
    display:flex;
    margin: 0 auto;
    margin-bottom: 8rem;
}

h2{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8rem;
    margin-top: 1rem;
    text-shadow: 0rem 1rem 5px rgba(96, 96, 96, 0.923);
}

p{
    color: black;
    margin-top: 4rem;
    margin-bottom: 10rem;
}
img{
    width: 20rem;
    border-radius: 50%;
    border: 0.5rem #ffffff solid;
}