/* globales */
a{
    margin: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: black;
}
a:hover{
    color: rgb(166, 114, 255);
}
/* contenedor principal */
.container{
    color: black;
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
    /* font-family: 'Inter'; */
}
.row{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    gap: 16rem;
}
@media (min-width: 480) {
    .nav__bar{
        display:grid;
        grid-template-rows: auto;
    }
}