/* globales */
a{
    margin: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: black;
}
a:hover{
    color: rgb(144, 80, 255);
}
/* contenedor principal */
.container{
    color: black;
}
.row{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    width: 100%;
    gap: 16rem;
}
@media (min-width: 480) {
    .nav__bar{
        display:grid;
        justify-content: end;
        grid-template-rows: auto;
    }
}