<div id="experience" class="container cont__experience">
        <div class="row">
            <!-- titulo de seccion -->
            <hr class="divider">
            <h2 class="experience__title">experiencia</h2>
        </div>
        <!-- cajas de trabajos -->
        <div class="row cont__text">
            <div class="col-lg-12 col-md-12 texto">
                <ul>
                    <li class="caja">
                        <h3 class="color-t">Veterinaria Don Bartolome</h3>
                        <h4 class="color-t">2010-2011</h4>
                        <p>Me desempeñe en la atencion al publico en venta de alimento y productos veterinarios.</p>
                    </li>
                    <li class="caja">
                        <h3 class="color-t">fotocopíadora c.e.i</h3>
                        <h4 class="color-t">2018-actualidad</h4>
                        <p>Ventas retail.<br>Me desempeño en atencion al publico, cajera yprincipalmente como coordinadora general de la fotocopíadora. Como tal soy la encargada de la organizacion de los grupos de trabajo y de la administracion de los recursos materiales.</p>
                    </li>
                    <li class="caja">
                        <h3 class="color-t">trabajo 3</h3>
                        <h4 class="color-t">año-año</h4>
                        <p>otro trabajo<br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia nulla sint
                            fugit ullam debitis consequuntur id neque sequi reprehenderit numquam! Vero ab rerum
                            reiciendis sequi soluta rem, nobis consectetur distinctio!</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- circulos de fondo -->
        <div class="shape-2"></div>
        <div class="shape-1"></div>
</div>